{% load static %}

<style>
    .footer-area li a:hover {
        color: rgb(21, 199, 199) !important;
    }
    .footer-area li a {
        color: white !important;
    }

    /* footer--widgets>ul>li>a {
        color: white !important;
    } */
</style>

<!-- Call To Action Area -->
<section class="cta-area section-padding--md bg--grey--light bg--abstruct-mask">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10">
                <div class="calltoaction text-center">
                    <h3>NEED HELP FOR YOUR <span class="color--theme">Biomedixs equipments and services?</span>
                    </h3>
                    <p>Do not hesitate, contact us now.</p>
                    <div class="calltoaction-button mt-4">
                        <span class="calltoaction-icon"><i class="flaticon-phone"></i></span>
                        <a href="tel:+254724514281">+254 72 4514281</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--// Call To Action Area -->

<!-- Footer Area -->
<footer id="footer" class="footer-area fixed--footer">

    <!-- Footer Widgets Area -->
    <div class="footer-area__widgets section-padding--lg bg--dark--light">
        <div class="container">
            <div class="widget-area footer--widgets">

                <!-- Single Widget -->
                <div class="widget widget-about">
                    <div class="footer-area__logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'images/logo/schwabslogo.png' %}" width="170" height="50" alt="footer logo">
                        </a>
                    </div>
                    <p class="text-light">Perspiciatis unde omnis iste natus error sit voluptatem accusantium oloremque laudantium, totam
                        rem
                        onsectetur sires
                        to obtain pain of itself because</p>
                    <div class="social-icons social-icons--rounded">
                        <ul>
                            <li class="facebook">
                                <a href="https://www.facebook.com/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="https://twitter.com/">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="instagram">
                                <a href="https://www.instagram.com/">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li class="google-plus">
                                <a href="https://plus.google.com/discover">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--// Single Widget -->

                <!-- Single Widget -->
                <div class="widget widget-quick-links">
                    <h5 class="widget-title">QUICK LINKS</h5>
                    <ul>
                        <li>
                            <a href="{% url 'service' %}">Our Services</a>
                        </li>
                        <li>
                            <a href="{% url 'product' %}">Products</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">About Us</a>
                        </li>
                        <li>
                            <a href="{% url 'appointment' %}">Appointment</a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!--// Single Widget -->

                <!-- Single Widget -->
                
                <!--// Single Widget -->

                <!-- Single Widget -->
                <div class="widget widget-contact-info">
                    <h5 class="widget-title">Contact Info</h5>
                    <ul>
                        <li>
                            <p class="text-light">Saito centre, Mezzanine door in Eldoret 
                                Kenya.</p>
                        </li>
                        <li>
                            <p>
                                <a class="text-light" href="tel:+254724514281">+254 724 514281</a>
                            </p>
                           
                        </li>
                        <li>
                            <p>
                                <a class="text-light" href="mailto:info@schwabsbiomedix.co.ke">info@schwabsbiomedix.co.ke</a>
                            </p>
                            <p>
                                <a class="text-light" href="https://schwabsbiomedix.co.ke">https://schwabsbiomedix.co.ke</a>
                            </p>
                        </li>
                    </ul>
                </div>
                <!--// Single Widget -->

            </div>
        </div>
    </div>
    <!--// Footer Widgets Area -->

    <!-- Footer Copyright Area -->
    <div class="footer-area__copyright bg--dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright text-center">
                        <a target="_blank" href="https://www.templateshub.net">Templates Hub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Footer Copyright Area -->

</footer>
<!-- //Footer Area -->