{% load static %}

<style>
    .cr-btn {
        background-color: rgb(21, 199, 199) !important;
        border-color: rgb(21, 199, 199) !important;
    }

    .header__top__info li a:hover {
        color: rgb(21, 199, 199) !important;
    }

    .main-navigation>ul>li:hover>a {
        color: rgb(21, 199, 199) !important;
    }
</style>

<!-- Header -->
<header id="header" class="header sticky--header">

    <!-- Header Top Area -->
    <div class="header__top bg--blue">
        <div class="container">
            <div class="header__top__inner">
                <ul class="header__top__info">
                    <li>
                        <a href="tel:+254724514281"><i class="fa fa-phone"></i>+254 724 514281</a>
                    </li>
                    <li>
                        <a href="mailto:info@shwabsbiomedix.co.ke">
                            <i class="fa fa-envelope-o"></i> info@shwabsbiomedix.co.ke</a>
                    </li>
                </ul>
                <div class="header__top__button">
                    <a class="cr-btn cr-btn--lg" href="{% url 'appointment' %}">
                        <span>Make an appointment</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--// Header Top Area -->

    <!-- Header Bottom Area -->
    <div class="header__bottom bg--white">
        <div class="container d-none d-lg-block">
            <div class="header__bottom__inner">
                <div class="header__logo">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'images/logo/schwabslogo.png' %}" width="170" height="50" alt="header logo">
                    </a>
                </div>

                <!-- Main Navigation -->
                <nav id="main-navigation" class="header__menu main-navigation">
                    <ul>
                        <li>
                            <a href="{% url 'home' %}">HOME</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">ABOUT</a>
                        </li>

                        <li>
                            <a href="{% url 'service' %}">SERVICE</a>

                        </li>

                        <li>
                            <a href="{% url 'product' %}">PRODUCTS</a>

                        </li>
                        <li>
                            <a href="{% url 'blog' %}">BLOG</a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}">CONTACT</a>
                        </li>
                    </ul>
                </nav>
                <!--// Main Navigation -->

            </div>
        </div>

        <!-- Mobile Menu -->
        <div class="container d-block d-lg-none">
            <div class="mobile-menu clearfix d-md-block d-lg-none">
                <a class="mobile-logo" href="index.html">
                    <img src="{% static 'images/logo/schwabslogo.png' %}" height="50" width="150" alt="logo">
                </a>
            </div>
        </div>
        <!-- //Mobile Menu -->

    </div>
    <!--// Header Bottom Area -->

</header>
<!-- //Header -->