{% load static %}

<!-- Header -->
<header id="header" class="header sticky--header">

    <!-- Header Top Area -->
    <div class="header__top bg--blue">
        <div class="container">
            <div class="header__top__inner">
                <ul class="header__top__info">
                    <li>
                        <a href="#"><i class="fa fa-phone"></i>01354 568 787</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-envelope-o"></i> info@fsulting.com</a>
                    </li>
                </ul>
                <div class="header__top__button">
                    <a class="cr-btn cr-btn--lg" href="appointment.html">
                        <span>Make an appointment</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--// Header Top Area -->

    <!-- Header Bottom Area -->
    <div class="header__bottom bg--white">
        <div class="container d-none d-lg-block">
            <div class="header__bottom__inner">
                <div class="header__logo">
                    <a href="index.html">
                        <img src="{% static 'images/logo/logo-theme.png' %}" alt="header logo">
                    </a>
                </div>

                <!-- Main Navigation -->
                <nav id="main-navigation" class="header__menu main-navigation">
                    <ul>
                        <li class="cr-dropdown">
                            <a href="index.html">HOME</a>
                            <ul class="cr-dropdown-menu">
                                <li>
                                    <a href="index.html">Homepage Classic</a>
                                </li>
                                <li>
                                    <a href="index-boxed-layout.html">Homepage Boxed Layout</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="about-us.html">ABOUT</a>
                        </li>
                        <li class="cr-dropdown">
                            <a href="portfolio.html">PORTFOLIO</a>
                            <ul class="cr-dropdown-menu">
                                <li>
                                    <a href="portfolio.html">Portfolio Grid</a>
                                </li>
                                <li>
                                    <a href="portfolio-details.html">Portfolio Details</a>
                                </li>
                            </ul>
                        </li>
                        <li class="cr-dropdown">
                            <a href="services.html">SERVICE</a>
                            <ul class="cr-dropdown-menu">
                                <li>
                                    <a href="services.html">Services</a>
                                </li>
                                <li>
                                    <a href="single-service.html">Single Service</a>
                                </li>
                            </ul>
                        </li>
                        <li class="cr-dropdown">
                            <a href="#">PAGES</a>
                            <ul class="cr-dropdown-menu">
                                <li>
                                    <a href="about-us.html">ABOUT</a>
                                </li>
                                <li>
                                    <a href="blog.html">BLOG</a>
                                    <ul class="cr-sub-dropdown-menu">
                                        <li>
                                            <a href="blog.html">Blog</a>
                                        </li>
                                        <li>
                                            <a href="blog-with-right-sidebar.html">Blog With Right Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-with-left-sidebar.html">Blog With Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-details.html">Blog Details</a>
                                        </li>
                                        <li>
                                            <a href="blog-details-with-left-sidebar.html">Blog Details With Left Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="features.html">FEATURES</a>
                                </li>
                                <li>
                                    <a href="services.html">SERVICE</a>
                                    <ul class="cr-sub-dropdown-menu">
                                        <li>
                                            <a href="services.html">Services</a>
                                        </li>
                                        <li>
                                            <a href="single-service.html">Single Service</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="team.html">Team</a>
                                </li>
                                <li>
                                    <a href="team-details.html">Team Details</a>
                                </li>
                                <li>
                                    <a href="appointment.html">Appointment</a>
                                </li>
                            </ul>
                        </li>
                        <li class="cr-dropdown">
                            <a href="blog.html">BLOG</a>
                            <ul class="cr-dropdown-menu">
                                <li>
                                    <a href="blog.html">Blog</a>
                                </li>
                                <li>
                                    <a href="blog-with-right-sidebar.html">Blog With Right Sidebar</a>
                                </li>
                                <li>
                                    <a href="blog-with-left-sidebar.html">Blog With Left Sidebar</a>
                                </li>
                                <li>
                                    <a href="blog-details.html">Blog Details</a>
                                </li>
                                <li>
                                    <a href="blog-details-with-left-sidebar.html">Blog Details With Left Sidebar</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">CONTACT</a>
                        </li>
                    </ul>
                </nav>
                <!--// Main Navigation -->

            </div>
        </div>

        <!-- Mobile Menu -->
        <div class="container d-block d-lg-none">
            <div class="mobile-menu clearfix d-md-block d-lg-none">
                <a class="mobile-logo" href="index.html">
                    <img src="{% static 'images/logo/logo-theme.png' %}" alt="logo">
                </a>
            </div>
        </div>
        <!-- //Mobile Menu -->

    </div>
    <!--// Header Bottom Area -->

</header>
<!-- //Header -->