{% extends 'main.html' %}

{% block content %}

{% load static %}

<style>
    #cr-breadcrumb-area {
        background-color: rgb(21, 199, 199) !important;
    }

    .color--theme {
        color: rgb(21, 199, 199) !important;
    }

    .video-btn {
        background-color: rgb(21, 199, 199) !important;
    }

    .service__icon {
        color: rgb(21, 199, 199) !important;
        border-color: rgb(21, 199, 199) !important;
    }

    .team__header {
        background-color: rgb(21, 199, 199) !important;
    }

    .team__image:before {

        background: rgb(21, 199, 199) !important;
    }

    .funfact-area:before {
        background: rgb(21, 199, 199) !important;
    }

    .feature:before {
        background: rgb(21, 199, 199) !important;
    }

    .cr-btn {
        background-color: rgb(21, 199, 199) !important;
        border-color: rgb(21, 199, 199) !important;
        color: black !important;
    }

    .cr-btn:hover {
        color: white !important;
    }

    a:hover {
        color: rgb(21, 199, 199) !important;
    }

    .text-color {
        color: rgb(21, 199, 199) !important;
    }
</style>

<!-- Breadcrumb Area -->
<div id="funfact-area" class="funfact-area section-padding--lg bg--white bg-image--1" data-overlay="8">
    <div class="container">
        <div class="cr-breadcrumb">
            <div class="cr-breadcrumb__left">
                <h2>Contact Us</h2>
                <p>Schwabs Biomedixs ltd</p>
            </div>
            <div class="cr-breadcrumb__right">
                <ul class="cr-breadcrumb__pagination">
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--// Breadcrumb Area -->

<!-- Page Conent -->
<main class="page-content">

    <!-- Pg Contact -->
    <div class="pg-contact bg--white">

        <!-- Contact Form -->
        <div class="pg-contact-form-area bg--white section-padding--xlg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="pg-appintment">
                            <div class="pg-appintment__title">
                                <h2 class="text-color">SEND A MESSAGE</h2>
                            </div>
                            <div class="pg-appintment__box">
                                <div class="p-2">
                                {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li {% if message.tags %} class="{{ message.tags }} bg-success text-center text-light p-2 rounded-pill" {% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                </div>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="single-input">
                                                <input type="text" name="name" id="name" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="single-input">
                                                <input type="email" name="email" id="email" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="single-input">
                                                <input type="text" name="subject" id="subject" placeholder="Subject">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="single-input">
                                                <input type="text" name="phone" id="phone" placeholder="Phone">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="single-input">
                                                <textarea name="body" cols="30" rows="5"
                                                    placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="single-input button text-left">
                                                <button type="submit" class="cr-btn"><span>Submit</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <p class="form-message"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="pg-contact__content">
                            <h1>say hello to us</h1>
                            <!-- <p>Contact us anytime </p> -->
                            <div class="pg-contact__blocks">
                                <div class="single-block address">
                                    <h6>address</h6>
                                    <p>Saito centre, Mezzanine door in Eldoret
                                        Kenya.</p>
                                </div>
                                <div class="single-block phone">
                                    <h6>Phone</h6>
                                    <p><a href="tel:+254724514281">+254 724 514281</a></p>
                                    <p><a href="tel:+254707058566">+254 70 7058566</a></p>
                                </div>
                                <div class="single-block web">
                                    <h6>Email</h6>
                                    <p><a href="mailto:info@schwabsbiomedix.co.ke">info@schwabsbiomedix.co.ke</a></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Contact Form -->

        <!-- Google Map -->
        <div class="google-map-wrapper pb-4">
            <div id="google-map" class="google-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15958.63040127151!2d35.2697802!3d0.5142775!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb5a34997e14c18a7!2sSCHWABS%20BIOMEDIX%20LTD!5e0!3m2!1sen!2ske!4v1662718734430!5m2!1sen!2ske"
                    width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <!--// Google Map -->
        <div class="google-map-wrapper pb-4">

        </div>
        <!--// Google Map -->

    </div>
    <!--// Pg Contact -->



</main>
<!-- //Page Conent -->



{% endblock %}