{% extends 'main.html' %}

{% block content %}

{% load static %}



<style>
    .color--theme {
        color: rgb(21, 199, 199) !important;
    }

    .video-btn {
        background-color: rgb(21, 199, 199) !important;
    }

    .service__icon {
        color: rgb(21, 199, 199) !important;
        border-color: rgb(21, 199, 199) !important;
    }

    .team__header {
        background-color: rgb(21, 199, 199) !important;
    }

    .team__image:before {

        background: rgb(21, 199, 199) !important;
    }
    .funfact-area:before  {
        background: rgb(21, 199, 199) !important;
    }
    .feature:before {
        background: rgb(21, 199, 199) !important;
    }
</style>

<!-- Top Banner -->
<div class="banner-area">
    <div class="banner banner-slider-active">

        <!-- Single Banner -->
        <div class="banner__single bg-image--1" data-black-overlay="6">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-9">
                        <div class="banner__single__content">
                            <h1>WE ARE EXPERT IN <span class="color--theme">BUSINESS CONSULTATION</span></h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati excepturi tenetur
                                suscipit voluptatibus
                                iure culpa recusandae nisi dignissimos.</p>
                            <a href="contact.html" class="cr-btn">
                                <span>Contact Now</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Single Banner -->

        <!-- Single Banner -->
        <div class="banner__single bg-image--2" data-black-overlay="6">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-11">
                        <div class="banner__single__content text-center">
                            <h1><span class="color--theme">FINANCIAL CONSULTING</span> EXPERT</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati excepturi tenetur
                                suscipit voluptatibus
                                iure culpa recusandae nisi dignissimos.</p>
                            <a href="contact.html" class="cr-btn">
                                <span>Contact Now</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Single Banner -->

        <!-- Single Banner -->
        <div class="banner__single bg-image--3" data-black-overlay="6">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-11">
                        <div class="banner__single__content text-center">
                            <h3>ARE YOU WORRIED ABOUT YOUR BUSINESS?</h3>
                            <h1>WE ARE EXPERT IN <span class="color--theme">CONSULTING</span></h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati excepturi tenetur
                                suscipit voluptatibus
                                iure culpa recusandae nisi dignissimos.</p>
                            <a href="contact.html" class="cr-btn">
                                <span>Contact Now</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Single Banner -->

    </div>
</div>
<!-- //Top Banner -->

<!-- Page Conent -->
<main class="page-content">

    <!-- About Area -->
    <section id="about-area" class="cr-section about-area bg--white section-padding--xlg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-area__content">
                        <h4>WE ARE
                            <span class="color--theme">Fsulting</span>
                        </h4>
                        <h3 class="cd-headline cx-heading slide">BEST FINANCIAL ADVISOR FOR YOUR
                            <span class="color--theme cd-words-wrapper cd-words-wrapper-2">
                                <b class="is-visible">FUTURE</b>
                                <b>BUSINESS</b>
                                <b>SUCCESS</b>
                            </span>
                            TO GROWUP
                        </h3>
                        <p>Parchitect beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut
                            odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                            nesciunt.</p>
                        <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem
                            aperiam, eaque ipsa quae </p>
                        <a href="about-us.html" class="cr-btn">
                            <span>Read More</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="videopopup-box">
                        <img src="{% static 'images/videobox/videobox-image-1.jpg' %}" alt="video popup image">
                        <a href="https://www.youtube.com/embed/AHJVDFop9sU" class="video-btn">
                            <i class="pe-7s-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //About Area -->

    <!-- Features Area -->
    <section id="features-area" class="cr-section features-area">
        <div class="row no-gutters justify-content-center">

            <!-- Single Feature -->
            <div class="col-lg-4 col-12">
                <div class="feature" data-bgimage="{% static 'images/feature/feature-thumb-1.jpg' %}">
                    <div class="feature__icon">
                        <span>
                            <i class="flaticon-shield"></i>
                        </span>
                        <span>
                            <i class="flaticon-shield"></i>
                        </span>
                    </div>
                    <div class="feature__content">
                        <h4 class="wow fadeInUp">
                            <a href="features.html">ENSURE SECURITY</a>
                        </h4>
                        <p class="wow fadeInUp" data-wow-delay="0.15s">Perspiciatis unde omnis ist natus error sit
                            voluptatem
                            accusantium loremque tium totam rem aperiam eaque </p>
                    </div>
                </div>
            </div>
            <!--// Single Feature -->

            <!-- Single Feature -->
            <div class="col-lg-4 col-12">
                <div class="feature" data-bgimage="{% static 'images/feature/feature-thumb-2.jpg' %}">
                    <div class="feature__icon">
                        <span>
                            <i class="flaticon-team"></i>
                        </span>
                        <span>
                            <i class="flaticon-team"></i>
                        </span>
                    </div>
                    <div class="feature__content">
                        <h4 class="wow fadeInUp">
                            <a href="features.html">EXPERT TEAM</a>
                        </h4>
                        <p class="wow fadeInUp" data-wow-delay="0.15s">Perspiciatis unde omnis ist natus error sit
                            voluptatem
                            accusantium loremque tium totam rem aperiam eaque </p>
                    </div>
                </div>
            </div>
            <!--// Single Feature -->

            <!-- Single Feature -->
            <div class="col-lg-4 col-12">
                <div class="feature" data-bgimage="{% static 'images/feature/feature-thumb-3.jpg' %}">
                    <div class="feature__icon">
                        <span>
                            <i class="flaticon-clock"></i>
                        </span>
                        <span>
                            <i class="flaticon-clock"></i>
                        </span>
                    </div>
                    <div class="feature__content">
                        <h4 class="wow fadeInUp">
                            <a href="features.html">24/7 LIVE SUPPORT</a>
                        </h4>
                        <p class="wow fadeInUp" data-wow-delay="0.15s">Perspiciatis unde omnis ist natus error sit
                            voluptatem
                            accusantium loremque tium totam rem aperiam eaque </p>
                    </div>
                </div>
            </div>
            <!--// Single Feature -->

        </div>
    </section>
    <!--// Features Area -->

    <!-- Service Area -->
    <section id="service-area" class="service-area section-padding--xlg bg--white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10 col-12">
                    <div class="section-title text-center">
                        <h4>OUR SERVICES</h4>
                        <h2>PROVIDE BEST
                            <span class="color--theme">SERVICES</span>
                        </h2>
                        <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem
                            aperiam, eaque ipsa quae</p>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- Single Service -->
                <div class="col-lg-4 col-md-6 col-12 wow flipInX">
                    <div class="service">
                        <div class="service__icon">
                            <i class="flaticon-bar-chart"></i>
                        </div>
                        <div class="service__content">
                            <h5>
                                <a href="single-service.html">INSURANCE CONSULTING</a>
                            </h5>
                            <p>Perspiciatis unde omnis ist natus error sit voluptatem accusantium loremque tium totam
                                rem per </p>
                        </div>
                    </div>
                </div>
                <!--// Single Service -->

                <!-- Single Service -->
                <div class="col-lg-4 col-md-6 col-12 wow flipInX">
                    <div class="service">
                        <div class="service__icon">
                            <i class="flaticon-growth"></i>
                        </div>
                        <div class="service__content">
                            <h5>
                                <a href="single-service.html">FINANCING PLAN</a>
                            </h5>
                            <p>Perspiciatis unde omnis ist natus error sit voluptatem accusantium loremque tium totam
                                rem per </p>
                        </div>
                    </div>
                </div>
                <!--// Single Service -->

                <!-- Single Service -->
                <div class="col-lg-4 col-md-6 col-12 wow flipInX">
                    <div class="service">
                        <div class="service__icon">
                            <i class="flaticon-internet"></i>
                        </div>
                        <div class="service__content">
                            <h5>
                                <a href="single-service.html">BUSINESS DEAL</a>
                            </h5>
                            <p>Perspiciatis unde omnis ist natus error sit voluptatem accusantium loremque tium totam
                                rem per </p>
                        </div>
                    </div>
                </div>
                <!--// Single Service -->

                <!-- Single Service -->
                <div class="col-lg-4 col-md-6 col-12 wow flipInX">
                    <div class="service">
                        <div class="service__icon">
                            <i class="flaticon-creative"></i>
                        </div>
                        <div class="service__content">
                            <h5>
                                <a href="single-service.html">CAR INSURANCE</a>
                            </h5>
                            <p>Perspiciatis unde omnis ist natus error sit voluptatem accusantium loremque tium totam
                                rem per </p>
                        </div>
                    </div>
                </div>
                <!--// Single Service -->

                <!-- Single Service -->
                <div class="col-lg-4 col-md-6 col-12 wow flipInX">
                    <div class="service">
                        <div class="service__icon">
                            <i class="flaticon-hand-shake"></i>
                        </div>
                        <div class="service__content">
                            <h5>
                                <a href="single-service.html">BUSINESS INSURANCE</a>
                            </h5>
                            <p>Perspiciatis unde omnis ist natus error sit voluptatem accusantium loremque tium totam
                                rem per </p>
                        </div>
                    </div>
                </div>
                <!--// Single Service -->

                <!-- Single Service -->
                <div class="col-lg-4 col-md-6 col-12 wow flipInX">
                    <div class="service">
                        <div class="service__icon">
                            <i class="flaticon-risk"></i>
                        </div>
                        <div class="service__content">
                            <h5>
                                <a href="single-service.html">INVESMENT PLANING</a>
                            </h5>
                            <p>Perspiciatis unde omnis ist natus error sit voluptatem accusantium loremque tium totam
                                rem per </p>
                        </div>
                    </div>
                </div>
                <!--// Single Service -->

            </div>
        </div>
    </section>
    <!--// Service Area -->

    <!-- Portfolio Area -->
    <div id="portfolio-area" class="portfolio-area bg--grey section-padding--xlg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 offset-0">
                    <div class="section-title text-center">
                        <h4>OUR WORKS</h4>
                        <h2>EXPLORE OUR
                            <span class="color--theme">WORK</span>
                        </h2>
                        <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem
                            aperiam, eaque
                            ipsa quae</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="portfolio-filters text-center">
                        <button class="is-active" data-filter="*">All</button>
                        <button data-filter=".filter-recent">Recent</button>
                        <button data-filter=".filter-running">Running</button>
                        <button data-filter=".filter-completed">Completed</button>
                    </div>
                </div>
            </div>
            <div class="row portfolio-wrap portfolio-gallery-active">

                <div class="col-lg-4 col-md-6 col-12 portfolio-item filter-recent filter-running">
                    <div class="portfolio">
                        <div class="portfolio-image">
                            <img src="{% static 'images/portfolio/portfolio-image-1.jpg' %}" alt="portofolio image">
                        </div>
                        <div class="portfolio-content">
                            <h5><a href="portfolio-details.html">Necessitatibus blanditiis.</a></h5>
                            <h6>Recent</h6>
                        </div>
                        <a href="{% static 'images/portfolio/lg/portfolio-image-lg-1.jpg' %}"
                            class="portfolio-zoomicon"><i class="pe-7s-search"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 portfolio-item filter-running filter-completed">
                    <div class="portfolio">
                        <div class="portfolio-image">
                            <img src="{% static 'images/portfolio/portfolio-image-2.jpg' %}" alt="portofolio image">
                        </div>
                        <div class="portfolio-content">
                            <h5><a href="portfolio-details.html">Necessitatibus blanditiis.</a></h5>
                            <h6>Recent</h6>
                        </div>
                        <a href="{% static 'images/portfolio/lg/portfolio-image-lg-2.jpg' %}"
                            class="portfolio-zoomicon"><i class="pe-7s-search"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 portfolio-item filter-completed">
                    <div class="portfolio">
                        <div class="portfolio-image">
                            <img src="{% static 'images/portfolio/portfolio-image-3.jpg' %}" alt="portofolio image">
                        </div>
                        <div class="portfolio-content">
                            <h5><a href="portfolio-details.html">Necessitatibus blanditiis.</a></h5>
                            <h6>Recent</h6>
                        </div>
                        <a href="{% static 'images/portfolio/lg/portfolio-image-lg-3.jpg' %}"
                            class="portfolio-zoomicon"><i class="pe-7s-search"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 portfolio-item filter-recent">
                    <div class="portfolio">
                        <div class="portfolio-image">
                            <img src="{% static 'images/portfolio/portfolio-image-4.jpg' %}" alt="portofolio image">
                        </div>
                        <div class="portfolio-content">
                            <h5><a href="portfolio-details.html">Necessitatibus blanditiis.</a></h5>
                            <h6>Recent</h6>
                        </div>
                        <a href="{% static 'images/portfolio/lg/portfolio-image-lg-4.jpg' %}"
                            class="portfolio-zoomicon"><i class="pe-7s-search"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 portfolio-item filter-recent filter-completed">
                    <div class="portfolio">
                        <div class="portfolio-image">
                            <img src="{% static 'images/portfolio/portfolio-image-5.jpg' %}" alt="portofolio image">
                        </div>
                        <div class="portfolio-content">
                            <h5><a href="portfolio-details.html">Necessitatibus blanditiis.</a></h5>
                            <h6>Recent</h6>
                        </div>
                        <a href="{% static 'images/portfolio/lg/portfolio-image-lg-5.jpg' %}"
                            class="portfolio-zoomicon"><i class="pe-7s-search"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 portfolio-item filter-running">
                    <div class="portfolio">
                        <div class="portfolio-image">
                            <img src="{% static 'images/portfolio/portfolio-image-6.jpg' %}" alt="portofolio image">
                        </div>
                        <div class="portfolio-content">
                            <h5><a href="portfolio-details.html">Necessitatibus blanditiis.</a></h5>
                            <h6>Recent</h6>
                        </div>
                        <a href="{% static 'images/portfolio/lg/portfolio-image-lg-6.jpg' %}"
                            class="portfolio-zoomicon"><i class="pe-7s-search"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--// Portfolio Area -->

    <!-- Team Area -->
    <section id="team-area" class="advisor-area bg--white section-padding--xlg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 offset-0">
                    <div class="section-title text-center">
                        <h4>OUR TEAM</h4>
                        <h2>MEET OUR
                            <span class="color--theme">TEAM MEMBERS</span>
                        </h2>
                        <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem
                            aperiam, eaque
                            ipsa quae</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">

                <!-- Single Advisor -->
                <div class="col-lg-4 col-md-6 col-12">
                    <figure class="team">
                        <div class="team__header">
                            <div class="team__image">
                                <img src="{% static 'images/team/team-member-1.jpg' %}" alt="team member thumb">
                            </div>
                            <div class="team__social">
                                <ul>
                                    <li class="facebook"><a href="https://www.facebook.com/"><i
                                                class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="google-plus"><a href="https://plus.google.com/"><i
                                                class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <figcaption class="team__content">
                            <h5>
                                <a href="team-details.html">Wyman Borer</a>
                            </h5>
                            <p>Chairman</p>
                        </figcaption>
                    </figure>
                </div>
                <!--// Single Advisor -->

                <!-- Single Advisor -->
                <div class="col-lg-4 col-md-6 col-12">
                    <figure class="team">
                        <div class="team__header">
                            <div class="team__image">
                                <img src="{% static 'images/team/team-member-2.jpg' %}" alt="team member thumb">
                            </div>
                            <div class="team__social">
                                <ul>
                                    <li class="facebook"><a href="https://www.facebook.com/"><i
                                                class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="google-plus"><a href="https://plus.google.com/"><i
                                                class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <figcaption class="team__content">
                            <h5>
                                <a href="team-details.html">Fernando Adams</a>
                            </h5>
                            <p>Manager</p>
                        </figcaption>
                    </figure>
                </div>
                <!--// Single Advisor -->

                <!-- Single Advisor -->
                <div class="col-lg-4 col-md-6 col-12">
                    <figure class="team">
                        <div class="team__header">
                            <div class="team__image">
                                <img src="{% static 'images/team/team-member-3.jpg' %}" alt="team member thumb">
                            </div>
                            <div class="team__social">
                                <ul>
                                    <li class="facebook"><a href="https://www.facebook.com/"><i
                                                class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="google-plus"><a href="https://plus.google.com/"><i
                                                class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <figcaption class="team__content">
                            <h5>
                                <a href="team-details.html">Roberto Carlos</a>
                            </h5>
                            <p>Assistant Manager</p>
                        </figcaption>
                    </figure>
                </div>
                <!--// Single Advisor -->

            </div>
        </div>
    </section>
    <!--// Team Area -->

    <!-- Funfact Area -->
    <div id="funfact-area" class="funfact-area section-padding--lg bg-image--1" data-overlay="8">
        <div class="container">
            <div class="row">

                <!--  Single Funfact -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="funfact-wrapper">
                        <div class="funfact">
                            <span class="funfact-icon">
                                <i class="pe-7s-look"></i>
                            </span>
                            <div class="funfact-content">
                                <h3><span class="counter">349</span>+</h3>
                                <h5>Truested Clients</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//  Single Funfact -->

                <!--  Single Funfact -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="funfact-wrapper">
                        <div class="funfact">
                            <span class="funfact-icon">
                                <i class="pe-7s-graph3"></i>
                            </span>
                            <div class="funfact-content">
                                <h3><span class="counter">109</span>+</h3>
                                <h5>Awards Win</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//  Single Funfact -->

                <!--  Single Funfact -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="funfact-wrapper">
                        <div class="funfact">
                            <span class="funfact-icon">
                                <i class="pe-7s-like"></i>
                            </span>
                            <div class="funfact-content">
                                <h3><span class="counter">459</span>+</h3>
                                <h5>Project Done</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//  Single Funfact -->

                <!--  Single Funfact -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="funfact-wrapper">
                        <div class="funfact">
                            <span class="funfact-icon">
                                <i class="pe-7s-coffee"></i>
                            </span>
                            <div class="funfact-content">
                                <h3><span class="counter">19</span>+</h3>
                                <h5>Expert Advisor</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//  Single Funfact -->

            </div>
        </div>
    </div>
    <!--// Funfact Area -->

    <!-- Testimonial Area -->
    <div id="testimonial-area" class="testimonial-area section-padding--xlg bg--grey">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-10 col-12">
                    <div class="testimonial text-center">

                        <!-- Testimonial Content -->
                        <div class="testimonial__content testimonial-content-slider-active">

                            <!-- Testimonial Content Single -->
                            <div class="testimonial__content__single">
                                <p>Parchitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                    voluptas sit aspernatur
                                    autodit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                                    sequi nesciunt. Neque
                                    porro</p>
                            </div>
                            <!--// Testimonial Content Single -->

                            <!-- Testimonial Content Single -->
                            <div class="testimonial__content__single">
                                <p>Parchitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                    voluptas sit aspernatur
                                    autodit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                                    sequi nesciunt. Neque
                                    porro</p>
                            </div>
                            <!--// Testimonial Content Single -->

                            <!-- Testimonial Content Single -->
                            <div class="testimonial__content__single">
                                <p>Parchitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                    voluptas sit aspernatur
                                    autodit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                                    sequi nesciunt. Neque
                                    porro</p>
                            </div>
                            <!--// Testimonial Content Single -->

                            <!-- Testimonial Content Single -->
                            <div class="testimonial__content__single">
                                <p>Parchitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                    voluptas sit aspernatur
                                    autodit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                                    sequi nesciunt. Neque
                                    porro</p>
                            </div>
                            <!--// Testimonial Content Single -->

                            <!-- Testimonial Content Single -->
                            <div class="testimonial__content__single">
                                <p>Parchitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                    voluptas sit aspernatur
                                    autodit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                                    sequi nesciunt. Neque
                                    porro</p>
                            </div>
                            <!--// Testimonial Content Single -->

                            <!-- Testimonial Content Single -->
                            <div class="testimonial__content__single">
                                <p>Parchitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                    voluptas sit aspernatur aut
                                    odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                                    nesciunt. Neque porro</p>
                            </div>
                            <!--// Testimonial Content Single -->

                        </div>
                        <!--// Testimonial Content -->

                        <!-- Testimonial Author -->
                        <div class="testimonial__author testimonial-author-slider-active">

                            <!-- Single Author -->
                            <div class="testimonial__author__single">
                                <div class="testimonial__author__image">
                                    <img src="{% static 'images/testimonial/testimonial-author-1.png' %}"
                                        alt="testimonial author">
                                </div>
                                <div class="testimonial__author__description">
                                    <h6>DAVID MILLER</h6>
                                    <span>President</span>
                                </div>
                            </div>
                            <!--// Single Author -->

                            <!-- Single Author -->
                            <div class="testimonial__author__single">
                                <div class="testimonial__author__image">
                                    <img src="{% static 'images/testimonial/testimonial-author-2.png' %}"
                                        alt="testimonial author">
                                </div>
                                <div class="testimonial__author__description">
                                    <h6>RAISA MARIYA</h6>
                                    <span>CEO</span>
                                </div>
                            </div>
                            <!--// Single Author -->

                            <!-- Single Author -->
                            <div class="testimonial__author__single">
                                <div class="testimonial__author__image">
                                    <img src="{% static 'images/testimonial/testimonial-author-3.png' %}"
                                        alt="testimonial author">
                                </div>
                                <div class="testimonial__author__description">
                                    <h6>SHON SMITH</h6>
                                    <span>Executive</span>
                                </div>
                            </div>
                            <!--// Single Author -->

                            <!-- Single Author -->
                            <div class="testimonial__author__single">
                                <div class="testimonial__author__image">
                                    <img src="{% static 'images/testimonial/testimonial-author-1.png' %}"
                                        alt="testimonial author">
                                </div>
                                <div class="testimonial__author__description">
                                    <h6>DAVID MILLER</h6>
                                    <span>President</span>
                                </div>
                            </div>
                            <!--// Single Author -->

                            <!-- Single Author -->
                            <div class="testimonial__author__single">
                                <div class="testimonial__author__image">
                                    <img src="{% static 'images/testimonial/testimonial-author-2.png' %}"
                                        alt="testimonial author">
                                </div>
                                <div class="testimonial__author__description">
                                    <h6>RAISA MARIYA</h6>
                                    <span>CEO</span>
                                </div>
                            </div>
                            <!--// Single Author -->

                            <!-- Single Author -->
                            <div class="testimonial__author__single">
                                <div class="testimonial__author__image">
                                    <img src="{% static 'images/testimonial/testimonial-author-3.png' %}"
                                        alt="testimonial author">
                                </div>
                                <div class="testimonial__author__description">
                                    <h6>SHON SMITH</h6>
                                    <span>Executive</span>
                                </div>
                            </div>
                            <!--// Single Author -->

                        </div>
                        <!--// Testimonial Author -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Testimonial Area -->

    <!-- Blog Area -->
    <section id="blog-area" class="blog-area section-padding--xlg bg--white">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 offset-0">
                    <div class="section-title text-center">
                        <h4>OUR BLOG</h4>
                        <h2>LATEST POST
                            <span class="color--theme">FROM BLOG</span>
                        </h2>
                        <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, eaque ipsa quae</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">

                <!-- Single Blog -->
                <div class="col-lg-4 col-md-6 col-12">
                    <article class="blog sticky">
                        <div class="blog__thumb">
                            <a href="blog-details.html">
                                <img src="{% static 'images/blog/blog-thumbnail-1.jpg' %}" alt="blog thumb">
                            </a>
                        </div>
                        <div class="blog__content">
                            <div class="blog__content__body">
                                <ul class="blog__content__meta">
                                    <li>1st November 18</li>
                                    <li>
                                        <a href="blog-right-sidebar.html">Business</a>
                                    </li>
                                </ul>
                                <h4>
                                    <a href="blog-details.html">Why Private College Admissions Consulting Has Become the
                                        Rule</a>
                                </h4>
                                <p>Perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudanti,
                                    totam rem...</p>
                            </div>
                            <div class="blog__content__footer">
                                <span class="blog__content__author">By: <a href="blog-right-sidebar.html">Alex
                                        Smith</a></span>
                            </div>
                        </div>
                    </article>
                </div>
                <!--// Single Blog -->

                <!-- Single Blog -->
                <div class="col-lg-4 col-md-6 col-12">
                    <article class="blog">
                        <div class="blog__thumb">
                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item"
                                    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/347257536&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
                            </div>
                        </div>

                        <div class="blog__content">
                            <div class="blog__content__body">
                                <ul class="blog__content__meta">
                                    <li>1st November 18</li>
                                    <li>
                                        <a href="blog-right-sidebar.html">Business</a>
                                    </li>
                                </ul>
                                <h4>
                                    <a href="blog-details.html">A Step-by-Step Guide to Selling Consulting Services</a>
                                </h4>
                                <p>Perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudanti,
                                    totam rem...</p>
                            </div>
                            <div class="blog__content__footer">
                                <span class="blog__content__author">By: <a href="blog-right-sidebar.html">Alex
                                        Smith</a></span>
                            </div>
                        </div>
                    </article>
                </div>
                <!--// Single Blog -->

                <!-- Single Blog -->
                <div class="col-lg-4 col-md-6 col-12">
                    <article class="blog blog--slider-active">
                        <div class="blog__thumb">
                            <a href="blog-details.html">
                                <img src="{% static 'images/blog/blog-thumbnail-2.jpg' %}" alt="blog thumb">
                            </a>
                            <a href="blog-details.html">
                                <img src="{% static 'images/blog/blog-thumbnail-1.jpg' %}" alt="blog thumb">
                            </a>
                        </div>
                        <div class="blog__content">
                            <div class="blog__content__body">
                                <ul class="blog__content__meta">
                                    <li>1st November 18</li>
                                    <li>
                                        <a href="blog-right-sidebar.html">Business</a>
                                    </li>
                                </ul>
                                <h4>
                                    <a href="blog-details.html">Use These Growth Strategies to Build a 6-Figure
                                        Business</a>
                                </h4>
                                <p>Perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudanti,
                                    totam rem...</p>
                            </div>
                            <div class="blog__content__footer">
                                <span class="blog__content__author">By: <a href="blog-right-sidebar.html">Alex
                                        Smith</a></span>
                            </div>
                        </div>
                    </article>
                </div>
                <!--// Single Blog -->

            </div>
        </div>
    </section>
    <!--// Blog Area -->

    <!-- Call To Action Area -->
    <section class="cta-area section-padding--md bg--grey--light bg--abstruct-mask">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-10">
                    <div class="calltoaction text-center">
                        <h3>NEED HELP FOR YOUR <span class="color--theme">FINANCIAL CONSULTING ?</span>
                        </h3>
                        <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem
                            aperiam, eaque ipsa Neque.</p>
                        <div class="calltoaction-button mt-4">
                            <span class="calltoaction-icon"><i class="flaticon-phone"></i></span>
                            <a href="callto://+00812548359874">+008 12548 359 874</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// Call To Action Area -->

</main>
<!-- //Page Conent -->

{% endblock %}