{% extends 'main.html' %}

{% block content %}

{% load static %}



<style>
    .color--theme {
        color: rgb(21, 199, 199) !important;
    }

    .video-btn {
        background-color: rgb(21, 199, 199) !important;
    }

    .service__icon {
        color: rgb(21, 199, 199) !important;
        border-color: rgb(21, 199, 199) !important;
    }

    .team__header {
        background-color: rgb(21, 199, 199) !important;
    }

    .team__image:before {

        background: rgb(21, 199, 199) !important;
    }

    .funfact-area:before {
        background: rgb(21, 199, 199) !important;
    }

    .feature:before {
        background: rgb(21, 199, 199) !important;
    }
</style>

<!-- Top Banner -->
<div class="banner-area">
    <div class="banner banner-slider-active">

        <!-- Single Banner -->
        <div class="banner__single bg-image--1" data-black-overlay="6">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-9">
                        <div class="banner__single__content">
                            <h1>Schwabs <span class="color--theme">Bromedix ltd</span></h1>
                            <p>Supplier of Hospital Equipment,
                                Laboratory Diagnostics and Reagents</p>
                            <a href="{% url 'contact' %}" class="cr-btn">
                                <span>Contact Now</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Single Banner -->

        <!-- Single Banner -->
        <div class="banner__single bg-image--2" data-black-overlay="6">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-11">
                        <div class="banner__single__content text-center">
                            <h1>Schwabs <span class="color--theme">Bromedix ltd</span></h1>
                            <p>Supplier of Hospital Equipment,
                                Laboratory Diagnostics and Reagents</p>
                            <a href="{% url 'contact' %}" class="cr-btn">
                                <span>Contact Now</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Single Banner -->

        <!-- Single Banner -->
        <div class="banner__single bg-image--3" data-black-overlay="6">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-11">
                        <div class="banner__single__content text-center">
                            <h1>Schwabs <span class="color--theme">Bromedix ltd</span></h1>
                            <p>Supplier of Hospital Equipment,
                                Laboratory Diagnostics and Reagents</p>
                            <a href="{% url 'contact' %}" class="cr-btn">
                                <span>Contact Now</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Single Banner -->

    </div>
</div>
<!-- //Top Banner -->

<!-- Page Conent -->
<main class="page-content">

    <!-- About Area -->
    <section id="about-area" class="cr-section about-area bg--white section-padding--xlg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-area__content">
                        <h4>WE ARE
                            <span class="color--theme">Schwabs Bromedix ltd</span>
                        </h4>
                        <h3 class="cd-headline cx-heading slide">Supplier of

                            <span class="color--theme cd-words-wrapper cd-words-wrapper-2">
                                <b class="is-visible">Hospital Equipment,</b>
                                <b>Laboratory Diagnostics,</b>
                                <b>Laboratory Reagents</b>
                            </span>

                        </h3>
                        <p>Schwabs Bromedix ltd is a fully registered company under the Laws of Kenya
                            companies act(cap 486). It was registered in March 2021 under certicate number
                            PVT-PJUvzLXG.
                            Our company's Head office is situated at Saito centre, Mezzanine door in Eldoret
                            Kenya.</p>
                        <p>We supply hospital equipment, laboratory diagnostics and reagents to both
                            private and public sectors in Kenya through our dedicated sales personnel and
                            appointed agents.</p>
                        <p>Our mission focuses on improving the lives of those we serve through providing
                            compassionate care, quality equipment and exceptional customer service.
                            We endeavor to add value to our clients and exceed their expectations with the
                            services we offer. </p>
                        <a href="{% url 'about' %}" class="cr-btn">
                            <span>Read More</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="videopopup-box">
                        <img src="{% static 'images/videobox/videobox-image-1.jpg' %}" alt="popup image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //About Area -->

    <!-- Features Area -->
    <section id="features-area" class="cr-section features-area">
        <div class="row no-gutters justify-content-center">

            <!-- Single Feature -->
            <div class="col-lg-4 col-12">
                <div class="feature" data-bgimage="{% static 'images/feature/feature-thumb-1.jpg' %}" alt="">
                    <div class="feature__icon">
                        <span>
                            <i class="flaticon-shield"></i>
                        </span>
                        <span>
                            <i class="flaticon-shield"></i>
                        </span>
                    </div>
                    <div class="feature__content">
                        <h4 class="wow fadeInUp">
                            <a href="features.html">Experienced</a>
                        </h4>
                        <p class="wow fadeInUp" data-wow-delay="0.15s">

                            We have a wide experience in interior design which guarantees you value for your money.</p>
                    </div>
                </div>
            </div>
            <!--// Single Feature -->

            <!-- Single Feature -->
            <div class="col-lg-4 col-12">
                <div class="feature" data-bgimage="{% static 'images/feature/feature-thumb-2.jpg' %}">
                    <div class="feature__icon">
                        <span>
                            <i class="flaticon-team"></i>
                        </span>
                        <span>
                            <i class="flaticon-team"></i>
                        </span>
                    </div>
                    <div class="feature__content">
                        <h4 class="wow fadeInUp">
                            <a href="features.html">Competitive Rates</a>
                        </h4>
                        <p class="wow fadeInUp" data-wow-delay="0.15s">

                            We offer quality interior design services to all our clients at affordable pocket friendly
                            rates.m nibhutis.
                        </p>
                    </div>
                </div>
            </div>
            <!--// Single Feature -->

            <!-- Single Feature -->
            <div class="col-lg-4 col-12">
                <div class="feature" data-bgimage="{% static 'images/feature/feature-thumb-3.jpg' %}">
                    <div class="feature__icon">
                        <span>
                            <i class="flaticon-clock"></i>
                        </span>
                        <span>
                            <i class="flaticon-clock"></i>
                        </span>
                    </div>
                    <div class="feature__content">
                        <h4 class="wow fadeInUp">
                            <a href="features.html">24/7 LIVE SUPPORT</a>
                        </h4>
                        <p class="wow fadeInUp" data-wow-delay="0.15s">
                            You can get into contact with us and we will offer you free advice on your dream designs.
                        </p>
                    </div>
                </div>
            </div>
            <!--// Single Feature -->

        </div>
    </section>
    <!--// Features Area -->

    <!-- Service Area -->
    <section id="service-area" class="service-area section-padding--xlg bg--white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10 col-12">
                    <div class="section-title text-center">
                        <h4>OUR SERVICES</h4>
                        <h2>PROVIDE BEST
                            <span class="color--theme">SERVICES</span>
                        </h2>
                        <p>Supplier of Hospital Equipment,
                            Laboratory Diagnostics and Reagents</p>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- Single Service -->
                {% for service in services %}
                <div class="col-lg-4 col-md-6 col-12 wow flipInX">
                    <div class="service">
                        <div class="service__icon">
                            <i class="flaticon-bar-chart"></i>
                        </div>
                        <div class="service__content">
                            <h5>
                                <a href="{% url 'serviceSingle' service.id %}">{{service.name}}</a>
                            </h5>
                            <p>{{service.body | truncatechars:75}} </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!--// Single Service -->


            </div>
        </div>
    </section>
    <!--// Service Area --> 

    <!-- Team Area -->
    <section id="team-area" class="advisor-area bg--white section-padding--xlg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 offset-0">
                    <div class="section-title text-center">
                        <h4>OUR TEAM</h4>
                        <h2>MEET OUR
                            <span class="color--theme">TEAM MEMBERS</span>
                        </h2>
                        <p>We are a qualified personnel who will give you best service.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
    
                <!-- Single Advisor -->
                <div class="col-lg-4 col-md-6 col-12">
                    <figure class="team">
                        <div class="team__header">
                            <div class="team__image">
                                <img src="{% static 'images/team/kollum.jpg' %}" height="400" width="100%"
                                    alt="team member thumb">
                            </div>
                            <div class="team__social">
                                <ul>
                                    <li class="facebook"><a href="https://www.facebook.com/"><i
                                                class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="google-plus"><a href="https://plus.google.com/"><i
                                                class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <figcaption class="team__content">
                            <h5>
                                <a href="team-details.html">Sylvester Kollum</a>
                            </h5>
                            <p>Co Founder</p>
                        </figcaption>
                    </figure>
                </div>
                <!--// Single Advisor -->
    
                <!-- Single Advisor -->
                <div class="col-lg-4 col-md-6 col-12">
                    <figure class="team">
                        <div class="team__header">
                            <div class="team__image">
                                <img src="{% static 'images/team/rotich.jpg' %}" height="400" width="100%"
                                    alt="team member thumb">
                            </div>
                            <div class="team__social">
                                <ul>
                                    <li class="facebook"><a href="https://www.facebook.com/"><i
                                                class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="google-plus"><a href="https://plus.google.com/"><i
                                                class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <figcaption class="team__content">
                            <h5>
                                <a href="team-details.html">Charles Rotich</a>
                            </h5>
                            <p>Co Founder</p>
                        </figcaption>
                    </figure>
                </div>
                <!--// Single Advisor -->
    
    
    
            </div>
        </div>
    </section>
    <!--// Team Area -->

    <!-- Funfact Area -->
    <div id="funfact-area" class="funfact-area section-padding--lg bg-image--1" data-overlay="8">
        <div class="container">
            <div class="row">

                <!--  Single Funfact -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="funfact-wrapper">
                        <div class="funfact">
                            <span class="funfact-icon">
                                <i class="pe-7s-look"></i>
                            </span>
                            <div class="funfact-content">
                                <h3><span class="counter">349</span>+</h3>
                                <h5>Truested Clients</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//  Single Funfact -->

                <!--  Single Funfact -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="funfact-wrapper">
                        <div class="funfact">
                            <span class="funfact-icon">
                                <i class="pe-7s-graph3"></i>
                            </span>
                            <div class="funfact-content">
                                <h3><span class="counter">109</span>+</h3>
                                <h5>Awards Win</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//  Single Funfact -->

                <!--  Single Funfact -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="funfact-wrapper">
                        <div class="funfact">
                            <span class="funfact-icon">
                                <i class="pe-7s-like"></i>
                            </span>
                            <div class="funfact-content">
                                <h3><span class="counter">459</span>+</h3>
                                <h5>Project Done</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//  Single Funfact -->

                <!--  Single Funfact -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="funfact-wrapper">
                        <div class="funfact">
                            <span class="funfact-icon">
                                <i class="pe-7s-coffee"></i>
                            </span>
                            <div class="funfact-content">
                                <h3><span class="counter">19</span>+</h3>
                                <h5>Expert Advisor</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//  Single Funfact -->

            </div>
        </div>
    </div>
    <!--// Funfact Area -->

    <!-- Testimonial Area -->
    <div id="testimonial-area" class="testimonial-area section-padding--xlg bg--grey">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-10 col-12">
                    <div class="testimonial text-center">

                        <!-- Testimonial Content -->
                        <div class="testimonial__content testimonial-content-slider-active">

                            <!-- Testimonial Content Single -->
                            <div class="testimonial__content__single">
                                <p>Reachable and flexible in all aspect of Business</p>
                            </div>
                            <!--// Testimonial Content Single -->

                            <!-- Testimonial Content Single -->
                            <div class="testimonial__content__single">
                                <p>You get value for money with Schwabs biomedixs, best quality products</p>
                            </div>
                            <!--// Testimonial Content Single -->

                            <!-- Testimonial Content Single -->
                            <div class="testimonial__content__single">
                                <p>Best customer client relation, you are the best.</p>
                            </div>
                            <!--// Testimonial Content Single -->

                            <!-- Testimonial Content Single -->
                            <div class="testimonial__content__single">
                                <p>you offer friendly and affordable prices for laboratory equipment</p>
                            </div>
                            <!--// Testimonial Content Single -->

                            <!-- Testimonial Content Single -->
                            <div class="testimonial__content__single">
                                <p>Best service in biomedixs Consultancy</p>
                            </div>
                            <!--// Testimonial Content Single -->

                            <!-- Testimonial Content Single -->
                            <div class="testimonial__content__single">
                                <p>Best service provider for biomedixs supplies</p>
                            </div>
                            <!--// Testimonial Content Single -->

                        </div>
                        <!--// Testimonial Content -->

                        <!-- Testimonial Author -->
                        <div class="testimonial__author testimonial-author-slider-active">

                            <!-- Single Author -->
                            <div class="testimonial__author__single">
                                <div class="testimonial__author__image">
                                    <img src="{% static 'images/testimonial/user.png' %}"
                                        alt="testimonial author">
                                </div>
                                <div class="testimonial__author__description">
                                    <h6>Kiptoo Kosgei</h6>
                                    <span>Manager BM Chemistry</span>
                                </div>
                            </div>
                            <!--// Single Author -->

                            <!-- Single Author -->
                            <div class="testimonial__author__single">
                                <div class="testimonial__author__image">
                                    <img src="{% static 'images/testimonial/user.png' %}"
                                        alt="testimonial author">
                                </div>
                                <div class="testimonial__author__description">
                                    <h6>Nelson M</h6>
                                    <span>Africare Health Services</span>
                                </div>
                            </div>
                            <!--// Single Author -->

                            <!-- Single Author -->
                            <div class="testimonial__author__single">
                                <div class="testimonial__author__image">
                                    <img src="{% static 'images/testimonial/user.png' %}"
                                        alt="testimonial author">
                                </div>
                                <div class="testimonial__author__description">
                                    <h6>Shon </h6>
                                    <span>C.E.O MediCare</span>
                                </div>
                            </div>
                            <!--// Single Author -->

                            <!-- Single Author -->
                            <div class="testimonial__author__single">
                                <div class="testimonial__author__image">
                                    <img src="{% static 'images/testimonial/user.png' %}"
                                        alt="testimonial author">
                                </div>
                                <div class="testimonial__author__description">
                                    <h6>Henry Sawe</h6>
                                    <span>Helto Institute</span>
                                </div>
                            </div>
                            <!--// Single Author -->

                            <!-- Single Author -->
                            <div class="testimonial__author__single">
                                <div class="testimonial__author__image">
                                    <img src="{% static 'images/testimonial/user.png' %}"
                                        alt="testimonial author">
                                </div>
                                <div class="testimonial__author__description">
                                    <h6>Jane</h6>
                                    <span>CEO, Siocha Psysio</span>
                                </div>
                            </div>
                            <!--// Single Author -->

                            <!-- Single Author -->
                            <div class="testimonial__author__single">
                                <div class="testimonial__author__image">
                                    <img src="{% static 'images/testimonial/user.png' %}"
                                        alt="testimonial author">
                                </div>
                                <div class="testimonial__author__description">
                                    <h6>Tallam</h6>
                                    <span>Manager, Bricho Healthcare</span>
                                </div>
                            </div>
                            <!--// Single Author -->

                        </div>
                        <!--// Testimonial Author -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Testimonial Area -->

    <!-- Blog Area -->
    <section id="blog-area" class="blog-area section-padding--xlg bg--white">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 offset-0">
                    <div class="section-title text-center">
                        <h4>OUR BLOG</h4>
                        <h2>LATEST POST
                            <span class="color--theme">FROM BLOG</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-30-reverse">

                <!-- Single Blog -->
                {% for blog in page_obj %}
                <div class="col-lg-4 col-md-6 col-12">
                    <article class="blog sticky">
                        <div class="blog__thumb">
                            <a href="{% url 'blogSingle' blog.id %}">
                                <img src="{{blog.image.url}}" width="100%" height="200" alt="blog thumb">
                            </a>
                        </div>
                        <div class="blog__content">
                            <div class="blog__content__body">
                                <ul class="blog__content__meta">
                                    <li>{{blog.created | timesince }} :ago</li>
                                    <li>
                                        <a href="#">{{blog.service}}</a>
                                    </li>
                                </ul>
                                <h4>
                                    <a  href="{% url 'blogSingle' blog.id %}">{{blog.title}}</a>
                                </h4>
                                <p>{{blog.description | truncatechars:75}}</p>
                            </div>
                            <div class="blog__content__footer">
                                <span class="blog__content__author">By: <a href="#">{{blog.host}}</a></span>
                            </div>
                        </div>
                    </article>
                </div>
                {% endfor %}
                <!--// Single Blog -->

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="cr-pagination text-center">
                        <ul>
                            {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
                            {% endif %}
                            <li class="active"><a href="#">{{ page_obj.number }}</a></li>
                            <!-- <li><a href="blog-with-right-sidebar.html">2</a></li>
                            <li><a href="blog-with-right-sidebar.html">3</a></li>
                            <li><a href="blog-with-right-sidebar.html">4</a></li> -->
                            {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// Blog Area -->

    

</main>
<!-- //Page Conent -->

{% endblock %}